@if (transactionData(); as data) {
<div class="transaction-page">
  
    <app-detail-header transaction_id={{data.transaction_id}}, status={{currentInvoice()?.status}}></app-detail-header>
  <nav class="navigation-bar">
    <div class="invoice-counter">
      INVOICES IN TRANSACTION ({{ currentIndex() + 1 }}/{{ invoices().length }})
      <div class="nav-btns">
        <button (click)="prevInvoice()" [disabled]="currentIndex() === 0">❮</button>
        <button (click)="nextInvoice()" [disabled]="currentIndex() === invoices().length - 1">❯</button>
      </div>
    </div>
    <div class="quick-links">
      <a [href]="currentInvoice()?.sheet_link" target="_blank"><i class="icon">👁</i> View Sheet</a>
      <a [href]="currentInvoice()?.image_link" target="_blank"><i class="icon">👁</i> View Image</a>
    </div>
  </nav>

  @if (currentInvoice(); as invoice) {

  <div class="detail-wrapper">

    <!-- 🔥 DETAIL MAIN -->
    <div class="content" [class.blur]="invoice.status === 'ERROR'">
      <app-detail-main #detailMainRef [invoice]="invoice" [isEditing]="isEditing()"></app-detail-main>
    </div>

   
    @if (invoice.status === 'ERROR') {
  <div class="overlay">
    <div class="retry-box">

      <div class="icon">
        <mat-icon>error_outline</mat-icon>
      </div>

      <h3>Invoice Processing Failed</h3>
      <p>We couldn't extract data from this invoice. Please retry upload image.</p>

      <button (click)="retry(invoice)">
        <span>
          <mat-icon>refresh</mat-icon>
        Retry Invoice
        </span>
        
      </button>

    </div>
  </div>
}

  </div>
<footer class="action-footer">

  @if (!isEditing()) {
  <button class="btn-edit" (click)="startEdit()"><mat-icon> mode_edit</mat-icon> Edit</button>
}

@if (isEditing()) {
 
  <button class="btn-cancel" (click)="cancelEdit()"><mat-icon>close</mat-icon> Cancel</button>
   <button class="btn-save" (click)="updateInvoice()"><mat-icon>save</mat-icon> Save</button>
}

</footer>
}
@else {
  <div>No invoice found</div>
}

  
</div>
}