 @use '../../../../styles/variables' as *;

 .header-section {
     @include flex-between;
     margin-bottom: 1.5rem;
    margin-top: 15px;
     .title-group {
         display: flex;
         align-items: center;
         gap: 12px;
         padding-top: 1rem;

         h1 {
             font-size: 1.6rem;
             font-weight: 800;
             margin: 0;
             letter-spacing: -0.5px;
         }

         .transaction-id {
             background: #eef0f2;
             color: #666;
             padding: 4px 10px;
             border-radius: 6px;
             font-size: 0.85rem;
             font-weight: 600;
         }
     }

     .status-badge {
         background: white;
         padding: 6px 16px;
         border-radius: 8px;
         font-size: 0.85rem;
         font-weight: 700;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

         &.ok {
             color: #2e7d32;

             .dot {
                 color: #4caf50;
             }

             .dot {
                 margin-right: 5px;
             }
         }

         &.error {
             color: #c62828; // đỏ đậm (text chính)

             .dot {
                 color: #f44336; // đỏ sáng (icon/dot)
             }
         }

     }


 }