 @use '../../../../styles/variables' as *;


.archive-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h1 { font-size: 24px; color: $text-main; margin-bottom: 4px; }
    p { color: $text-light; font-size: 14px; }

    .status-tabs {
      background: $white;
      padding: 4px;
      border-radius: 12px;
      display: flex;
      gap: 4px;

      .tab {
        border: none;
        background: transparent;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        color: $text-light;
        &.active {
          background: #eef2ff;
          color: $blue-primary;
          font-weight: 600;
        }
      }
    }
  }