.transaction-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;       /* Cố định chiều cao */
  background: #cbd5e1; 
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  .wrapper {
    width: 100%;
    max-width: 2000px;
    height: 100%;      /* Kế thừa 100% của 90vh */
    display: flex;
    flex-direction: column;
    overflow: hidden;  /* Chặn scroll ở đây */
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px rgba(0,0,0,0.1); // Tạo hiệu ứng nổi khối
  }

  .main-content {
display: grid;
    grid-template-columns: 1.2fr 0.8fr; 
    flex: 1;           /* Tự động lấp đầy phần còn lại của wrapper */
    min-height: 0;     /* Cần thiết để flex/grid con không bị tràn */
    overflow: hidden;  /* Quan trọng: Để con nó tự scroll chứ cha không scroll */
    background: #f1f5f9
  }
  .viewer-container {
  background: #1e293b; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: auto;
  min-height: 0;
}

}


.data-container {
  flex: 0.8; // Chiếm khoảng 40% chiều rộng (có thể điều chỉnh)
  background: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: hidden; // Ngăn cuộn data-container chính

  .form-scroll-area {
    flex: 1; // Chiếm toàn bộ không gian còn lại
    overflow-y: auto; // Bật cuộn chỉ cho khu vực form nhập liệu
  }
}