.filter-row {
	display: flex;
	gap: 16px;
	padding: 20px;
	background-color: #f8fafc;
	align-items: flex-start;
	justify-content: space-evenly;
}
::v-deep .custom-field {
	width: 100%;
	
	.mat-mdc-form-field-subscript-wrapper {
		display: none; // Ẩn khoảng trống bên dưới input (error message)
	}

	.mat-mdc-text-field-wrapper {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		height: 40px; // Khống chế chiều cao cố định
	}
	
	.mat-mdc-form-field-flex {
		height: 40px;
		align-items: center;
	}
}

.date-inputs {
	display: flex;
	align-items: center;
	gap: 4px;

	.small {
		width: 130px; // Khống chế độ rộng ô date
	}

	.separator {
		color: #94a3b8;
		font-weight: bold;
	}
}