@use '../../../../styles/variables' as *;

.table-container {
  flex-shrink: 0;      // Ngăn không cho bảng bị co lại quá mức
  min-height: min-content; 
  padding-bottom: 50px; // Thêm khoảng trống dưới cùng để không bị sát mép
.card-header{
  display: flex;
  justify-content: space-between;
}

  .data-table {
  width: 100%;
  border-collapse: collapse;
  th { text-align: left; padding: 12px; font-size: 0.75rem; color: $text-muted; border-bottom: 1px solid #F1F5F9; }
  td { padding: 16px 12px; border-bottom: 1px solid #F1F5F9; }
  
  .tag { background: #F1F5F9; padding: 4px 8px; border-radius: 4px; font-size: 0.7rem; font-weight: 700; }
  .status {
    font-weight: 700;
    font-size: 0.75rem;
    &.OK { color: $success; }
    &.ERROR { color: $warning; }
  }
}
}
