@use '../styles/variables' as *;

.app-container{
 
    margin: 0 auto; /* Centers the whole container on the page */
    
    display: grid;
    /* 'fr' units are often smoother than percentages for grids */
    grid-template-columns: 1fr 6fr; 
    
    /* Ensures the container fills the screen height if needed */

  background-color: $bg-app;
 
}

.main-content {
  flex: 1; /* chiếm toàn bộ phần còn lại */
  display: grid;
  grid-template-rows: 1fr 10fr;
  
}




@media (max-width: 768px) {
  app-sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    transition: left 0.3s;
    z-index: 1000;
  }

  app-sidebar.open {
    left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}