<div class="chart-dashboard">
  <div class="chart-container main-chart">
    <div class="chart-header">
      <h3>Spending Trends</h3>
    </div>
    <canvas baseChart
      [data]="barChartData()" 
      [options]="barChartOptions"
      [type]="'bar'">
    </canvas>
  </div>

  <div class="chart-container side-chart">
    <h3>Categories</h3>
    <div class="doughnut-wrapper">
      <canvas baseChart
        [data]="doughnutData()"
        [options]="doughnutOptions"
        [type]="'doughnut'">
      </canvas>
      <div class="center-text">
        <strong>Top 3</strong>
        <span>SPLIT</span>
      </div>
    </div>

    <ul class="custom-legend">
      @for (label of doughnutData().labels; track label; let i = $index) {
        @if ((doughnutData().datasets[0].data[i] ) > 0) {
          <li>
            <span class="dot" [style.backgroundColor]="getChartColor(i)"></span>
            <span class="label-text">{{ label }}</span>
            <span class="percent">{{ calculatePercentage(i) }}%</span>
          </li>
        }
      }
    </ul>
  </div>
</div>