.pagination-bar{
    display: flex;
    justify-content:space-between ;
}

.pagination {
  display: flex;
  gap: 6px;
}

button {
  border: none;
  background: #f3f4f6;
  min-width: 32px;
  height: 32px;
  border-radius: 999px;
  cursor: pointer;

  &.active {
    background: #1d4ed8;
    color: white;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}