<aside class="sidebar">
  <div class="sidebar-brand">
    <div class="logo-row">
    <div class="mini-logo">Up</div>
    <span class="brand-name">Upload App Google</span>
  </div>
  </div>

  <nav class="nav-menu">
    
    <!-- Dashboard -->
    <a 
      routerLink="/dashboard" 
      routerLinkActive="active" 
      class="nav-link"
    >
      <div class="nav-item">
        <div class="nav-content">Dashboard</div>
        <mat-icon>dashboard</mat-icon>
      </div>
    </a>

    <!-- Upload -->
    <a 
      routerLink="/upload" 
      routerLinkActive="active" 
      class="nav-link"
    >
      <div class="nav-item">
        <div class="nav-content">Upload Invoice</div>
        <mat-icon>file_upload</mat-icon>
      </div>
    </a>

    <!-- Invoices -->
    <a 
      routerLink="/invoices" 
      routerLinkActive="active" 
      class="nav-link"
    >
      <div class="nav-item">
        <div class="nav-content">Invoices</div>
        <mat-icon>receipt</mat-icon>
      </div>
    </a>

  </nav>
</aside>