  <aside class="sidebar">
    <div class="sidebar-brand">
      <div class="logo">
      <mat-icon>cloud_upload</mat-icon>
      </div>
      <span class="brand-name">Upload App Google</span>
    </div>
    <nav class="nav-menu">
      <a href="#" class="nav-link active">
        <div class = "nav-item">
            <div class = "nav-content">Dashboard</div>
            <div class ="nav-item"><mat-icon>dashboard</mat-icon></div>
        </div></a>
      <a href="#" class="nav-link">
        <div class = "nav-item">
            <div class = "nav-content">Upload Invoice</div>
            <mat-icon>file_upload</mat-icon>
        </div>

        </a>
      <a href="#" class="nav-link">
        <div class = "nav-item">
            <div class = "nav-content">Invoices</div>
           <mat-icon>receipt</mat-icon>
        </div>
        </a>
    </nav>
   
  </aside>