@use '../../../styles/variables' as *;

.app-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 6fr; 
  min-height: 100vh; /* Luôn cao ít nhất bằng màn hình */
  background-color: $bg-app;
  overflow-y: visible; /* Cho phép cuộn toàn bộ trang */
}

.app-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 6fr; 
  min-height: 100vh; /* Luôn cao ít nhất bằng màn hình */
  background-color: $bg-app;
  overflow-y: auto; /* Cho phép cuộn toàn bộ trang */
}




@media (max-width: 768px) {
  app-sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    transition: left 0.3s;
    z-index: 1000;
  }

  app-sidebar.open {
    left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}